.blog-container {
    max-width: 90vw;
    margin: auto;
    padding: 20px;
  }
  
  .blog-form {
    min-width: 70vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
  }
  
  .blog-input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .blog-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4f5a89;
    color: #fff;
    border: none;
  }
  
  .blog-button:hover {
    background-color: #4f5a89;
    cursor: pointer;
  }
  
